<table class="table mt-5">
  <thead>
    <tr>
      <th scope="col">Item</th>
      <th scope="col">Price</th>
      <th scope="col">Category</th>
      <th scope="col">Quantity</th>
    </tr>
  </thead>
  <tbody>
    {{#each products}}
    <tr>
      <td><img src="/product-images/{{this.product._id}}.jpg" style="width:50px"></td>
      <td>{{this.product.Name}}</td>
      <td>{{this.product.Price}}</td>
      <td><button {{#if (equals this.quantity 1)}}{{/if}}  onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{@root.user._id}}',-1)">-</button><span id="{{this.product._id}}">{{this.quantity}}</span><button onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{@root.user._id}}',1)">+{{user._id}}</button></td>
      <td><button class="btn-danger">Remove</button></td>
    </tr>
     {{/each}}
  
  </tbody>
</table>
<hr>
<div class="d-flex justify-content-end">
  <h3 class="me-5 mt-4">Total: Rs.<span id="totalValue">{{total}}</span></h3>
</div>
<div class="d-flex justify-content-end">
  <a href="/place-order" class="float-right mt-2 me-5 btn btn-success">Place Order</a>
</div>
<script>
  function changeQuantity(cartId,proId,userId,count){
    let quantity = document.getElementById(proId).innerHTML
    console.log(userId)
    typeof(userId)
    $.ajax({
      url:'/change-product-quantity',
      data:{
        user:userId,
        cart: cartId,
        product:proId,
        count:parseInt(count),
        quantity:parseInt(quantity)
      },
      method:'post',
      success:(response)=>{
        console.log("success")
        if(response.removeProduct){
        alert("The product is removed from cart")
        location.reload()
        }
        else{
          console.log(response)
          document.getElementById(proId).innerHTML=parseInt(quantity)+parseInt(count)
          document.getElementById('totalValue').innerHTML=response.total['$numberDecimal']
          console.log(response)
        }
      }
    })
  }
</script>